@import url('https://fonts.googleapis.com/css?family=VT323');
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots|Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  margin:0;
  background-color:black;
  color:white;
}
#box{
  color:black;
  background-color:white;
  position: fixed;
  top:10px;
  left:10px;
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, .5);
  padding:10px;
}
 #box ul {
  padding:0;
  margin: 0;
  list-style-type: none;
}

header{
  height:120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header a {
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 150px;
  margin-top:30px;
  transition:ease all .50s;

}
header a:hover{
  color:rgb(36, 94, 171);
  transition:ease all .50s;
}
header img {
  height:60px;
  width: inherit;
  margin-left: 120px;
  margin-top:30px;
}
.hero {
  background-image: url(../imgs/hero.png);
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: contain;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*background-attachment: fixed;*/
}

#all img {
  height:400px;
  width:400px;
  filter: grayscale(100%);
  transition: ease all .50s;

}
#all img:hover{
  filter: none;
  transition: ease all .50s;
}
main{
  display: flex;
    margin-left:100px;
    margin-right:100px;
    margin-top:300px;
    padding:10px;
}

#all{
  text-align: center;
  padding:10px;
}

#all h2{
  font-family: 'VT323', monospace;

}
#all ul{
  list-style: none;
  padding:10px;
  font-family: 'Raleway Dots', cursive;

}
#all a {
  color:#E2CB00;
  text-decoration: none;
}
article{
  margin-top:150px;
  text-align: center;
}
article img{
  height: 600px;
  width: inherit;
  filter: blur(5px);
  transition:all .50s ease;


}
article img:hover {
  filter: brightness(3);
  transition:all .50s ease;

}
article h1{
  font-family: 'VT323', monospace;
  font-weight: 100;
}
#links {
  text-align: center;
  margin-top:300px;
}
#links a {
  color:white;
  font-size: 25px;
  padding:30px;
  font-weight: 100;
}
#links hr {
  width:600px;
  margin-top:30px;
}
.footer-text {
  margin-top:40px;
    text-align: center;
    line-height: 30px;
  font-size: 11px;
  font-weight: 400;
  padding: 10px 0 50px;
  color: #939598;
}
.footer-text a{
  color: #939598;
  text-decoration: none;
  padding:5px;
}
}
