@import url('https://fonts.googleapis.com/css?family=VT323');
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots|Roboto');
body{
  margin:0;
  background-color:black;
  color:white;
}
div{
  color:black;
  background-color:white;
  position: fixed;
  top:10px;
  left:10px;
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, .5);
  padding:10px;
}
 div ul {
  padding:0;
  margin: 0;
  list-style-type: none;
}

header{
  height:120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header a {
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 150px;
  margin-top:30px;
  transition:ease all .50s;

}
header a:hover{
  color:rgb(36, 94, 171);
  transition:ease all .50s;
}
header img {
  height:70px;
  width: inherit;
  margin-left: 120px;
  margin-top:30px;
}
.hero {
  background-image: url(../imgs/hero.png);
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: contain;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*background-attachment: fixed;*/
}

section img {
  height:400px;
  width:400px;
  filter: grayscale(100%);
  transition: ease all .50s;

}
section img:hover{
  filter: none;
  transition: ease all .50s;
}
main{
  display: flex;
    margin-left:100px;
    margin-right:100px;
    margin-top:300px;
    padding:10px;
}

section {
  text-align: center;
  padding:10px;
}

section h2{
  font-family: 'VT323', monospace;

}
section ul{
  list-style: none;
  padding:10px;
  font-family: 'Raleway Dots', cursive;

}
section a {
  color:#E2CB00;
  text-decoration: none;
}

#gambino{
  margin-top:200px;
  background-image: url(../imgs/donnyg.jpg);
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:200px;
}
