
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');



body{
  margin:0;
  background-color:#FADD26;
}
main{
  margin-top:0;
  text-align: center;
  background-image: url(http://img.wallpaperfolder.com/f/5E7ED353CA13/golf-wang-striped-pc-album.png);
  max-width: 600px;
  height:1000px;
  margin-left: auto;
  margin-right: auto;
  /*filter:saturate(8);*/


}
main h1 {
  font-size:3em;
  color:white;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 10px 10px 10px #000000;
}
main img {
  height:400px;
  width:auto;
  border-radius: 100%;
  border:5px dashed black;
  filter: brightness(1.2) contrast(1.3) sepia(0.1);

}
main p {
  background-color:#F0F09D;
  height:400px;
  color:#20B2AA;
  font-size:24px;
  text-transform:lowercase;
  font-family: 'Covered By Your Grace', cursive;

}
a {

  /*border:2px solid white;*/
  text-decoration: none;
  color:#20B2AA;
  font-family: 'Archivo Black', sans-serif;
  padding:20px;
  background-image: url(http://i103.photobucket.com/albums/m140/kd9822/KillCat_zpsb5fd4778.jpg);
  background-size:contain;
  /*box-shadow:5px 6px 7px #000000;*/
  font-size:2em;
  transition: font-size .25s ease;
  transition: box-shadow .70s ease;
  text-shadow: 5px 5px #000000;


}
a:hover{
color:white;
}
section{
  display: flex;
  justify-content: space-around;
  margin-top:100px;
  margin-bottom:100px;
}
