@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');


body{
  background-color:#FFD600;
  margin:0;
}
h1::after{
  clear:both;
  content: "";
  display: block;
}
h1{
 font-family: 'Archivo Black', sans-serif;
  color:white;
  font-size:6em;
  text-shadow: 5px 5px 5px #000000;
  /*float:right;*/
  margin:0;
  padding:0;
  background-image:url(https://allaboutthehouseblog.files.wordpress.com/2014/02/aath-horizontal-stripes-red.jpg);
  background-size:cover;
  width:100%;
  transition: font-size .75s ease;

}
h1:hover{
  text-shadow: 15px 15px 15px #000000;
  font-size:10em;
  transition: font-size .75s ease;
  /*text-align: center;
  transition: text-align .75s ease;*/
}
.icons{
  display:flex;
  justify-content: center;
  margin-top:200px;
}
.icons i {
  font-size:9em;
  padding:30px;
  color:#D31F38;
}
.icons i:hover{
  color:white;
}
.icons2{
  font-size:5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:10%;
  /*display: none;*/
  /*color:#FFD600;
  cursor: none;*/
}
.icons2 i {
  color:#FFD600;
  cursor: default;
}
#nav {
  display:flex;
  justify-content: center;
  margin-top: 50px;
}
#nav a {
  color:white;
  font-size:2em;
  transition: all ease .50s;
}
#nav a:hover {
  text-shadow: 5px 5px 5px #000000;
  transition: all ease .50s;
  font-size: 4em;
}
@media (max-width:800px) {
  h1{
    display: none;
  }
  .icons{
    display: none;
  }
  .icons2 i {
    font-size:2em;
    padding:30px;
    color:#D31F38;  }
    .icons i:hover{
      color:white;
    }
}
