@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  margin:0;
  background-color:#FFD600;
  /*display: flex;
  justify-content: center;
  align-content: center;*/

}
.round{
  margin-top: 50px;
  margin-left:200px;
  margin-right: 200px;
  height:750px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  border:2px dashed #FFD600;
}
.round ul {
  margin-top:200px;
  list-style-type:none;
}
.round ul li {
  font-family: 'Archivo Black', sans-serif;
  color:white;
  padding:20px;
  /*text-shadow: 3px 3px #000000;*/
  font-size:2em;

}
.round a {
  text-decoration: none;
  color:white;
  /*font-family: 'Covered By Your Grace', cursive;*/
  transition: all ease .50s;

}
.round a:hover {
  color:rgb(130, 94, 154);
  /*text-decoration: underline;*/
  letter-spacing: 4px;
  transition: all ease .50s;
}
.nav {
  display: flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
}
.nav a {
  color:white;
  padding:20px;
  font-size:2em;
  transition: all ease .50s;

}
.nav a:hover {
  font-size:4em;
  transition: all ease .50s;
  text-shadow: 10px 10px 10px #000000;

}
.mobile {
  display: none;
text-align: center;
background-image:url(https://i.imgur.com/1yxjc4D.jpg);
height:400px;
}
.mobile ul {
  list-style-type: none;
  margin-top:5%;

}
.mobile ul li {
  color:white;
  text-shadow: 3px 3px #000000;
  font-family: 'Archivo Black', sans-serif;
  padding:10px;
  font-size:20px;
}
@media (max-width: 800px) {
  .round{
    display:none;
  }
  .mobile {
  display: block;
  text-align: center;
  background-image:url(https://i.imgur.com/1yxjc4D.jpg);
  height:400px;
  }
  .mobile ul {
    list-style-type: none;
    margin-top:5%;

  }
  .mobile ul li {
    color:white;
    text-shadow: 3px 3px #000000;
    font-family: 'Archivo Black', sans-serif;
    padding:10px;
    font-size:20px;
    margin-bottom:5%;
  }
  .a {
    color:white;
    text-shadow: 3px 3px #000000;
    font-family: 'Archivo Black', sans-serif;
    padding:10px;
    font-size:15px;
    text-decoration: none;

    background-color:#FFD600;

  }
}
