
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body{
  margin:0;
  background-color:#FFD600;

}
.stuff {
  height:1000px;
  text-align: center;
  float:left;
  background-image:url(../imgs/hd_FLAMES.png);
  width: 350px;
  background-size:cover;
  position: fixed;
}
#meh{
  margin-top:30%;
  font-size: 2em;
  color:white;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 10px 10px 10px #000000;
}
#section{
  /*position: fixed;*/
  float:right;
  /*max-width: 400px;*/
  width: 430px;
  margin-top:100px;
  margin-right:300px;
  margin-bottom: 100px;
  /*position: relative;
  overflow: hidden;*/
}
#section img{
  /*max-width: 100%;*/
  padding:10px;
  height:400px;
  width:600px;
  filter: grayscale(100%);
  /*transition: all 0.3s;*/
}
#section img:hover{
  filter: none;
  transition: filter .75s ease;
  /*transform: scale(1.1);*/

}
 #meh a {
   /*display: flex;
   position: relative;*/
   /*font-size:2em;*/
  text-decoration: none;
  color:white;
  font-family: 'Archivo Black', sans-serif;
  padding:20px;
  background-image: url(../imgs/golf.jpg);
  background-size:contain;
  text-shadow: 5px 5px #000000;
  /*margin-top: 100px*/
  /*text-align: center;
  margin-left:500px;
  margin-top:50px;*/
}
#meh a:hover{
  color:#F0F09D;
  box-shadow:5px 6px 7px #000000;

}
