@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body{
  margin:0;
  background-color:#FADD26;
}
section {
  text-align: center;
  margin-top:200px;
  background-image: url(https://images3.pixlis.com/background-image-plaid-checkered-seamless-tileable-light-sea-green-light-pink-235ffh.png);
  filter:saturate(8);
  height:370px;
  /*transform: rotate(2deg);*/
  width:100%;
  position: relative;


}
h1{

  position:absolute;
  top:30px;
  left:60;

  /*margin-top:400px;*/
  font-size: 6em;
  transform: rotate(-28deg);
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 10px 10px 10px #000000;
  /*color:#20B2AA;*/
  color:white;
  transition: all .3s ease-in-out;


}
h1:hover{
font-size: 8em;
/*transition: font-size .3s ease;*/
}

a{
  margin-top:150px;
  position:absolute;
  border:2px solid white;
  text-decoration: none;
  color:white;
  font-family: 'Archivo Black', sans-serif;
  padding:20px;

  font-size:2em;
}
a:hover{
  text-shadow: 2px 2px  #FFB6C1 ;
  background-color:#FADD26;
  border:none;
  color:black;
  box-shadow:10px 10px 10px #000000;
  transition:.25s ease-in;
}

@media (max-width:800px) {
  section {
    width:100%;
    height:100%;
    margin:0;
    /*background-image: url(https://images3.pixlis.com/background-image-plaid-checkered-seamless-tileable-light-sea-green-light-pink-235ffh.png);*/
  }
  .none{
    font-size:20px;
    border:2px solid white;
    text-decoration: none;
    color:white;
    font-family: 'Archivo Black', sans-serif;
    padding:20px;
    margin-top:95%;
    margin-left:auto;
    margin-right:auto;
  }
  .me {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 10px 10px 10px #000000;
    /*color:#20B2AA;*/
    color:white;
    transform: none;
    background-image: url(https://images3.pixlis.com/background-image-plaid-checkered-seamless-tileable-light-sea-green-light-pink-235ffh.png);

  }
  .me:hover {
    font-size: 6em;
  }
}
